//- This page basically contains the basic layout/blueprint of the contact page

doctype html
html
  head
    title Akanksha Dance Academy
    block scripts
    block style
  body
     nav#navbar
        ul
          div#logo
            img(src='static/img/logo1.jpg')
            | ADA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/") Class Info]
          li #[a(href="/contact") Contact Us]

  block content    
  footer#footer
      | Copywrite@2020 Akanksha-Dance-Academy.Com | All rights are reserved.